<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('_homepage') }}">Unramalak</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <!-- logged stuff -->
                        <li><a href="{{ path('map') }}" class="active">Map</a></li>
                        <li><a href="{{ path('tests') }}">Tests</a></li>
                        <li><a href="{{ path('media') }}">Medias</a></li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <!-- admin stuff -->
                            <li><a href="{{ path('editor') }}">Editor</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans }}</a></li>
                    {% else %}
                        <!-- foreigners -->
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>