<div id="menu-bar-container">
    <div id="menu-bar">
        <a href="{{ path('_homepage') }}" class="left">Home</a>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('map') }}" class="left">Map</a>
            <a href="{{ path('editor') }}" class="left">Editor</a>
            <a href="{{ path('fos_user_security_logout') }}" class="right">Logout</a>
        {% elseif is_granted('IS_ADMIN') %}

        {% else %}
            <a href="{{ path('fos_user_registration_register') }}" class="right">Register</a>
            <a href="{{ path('fos_user_security_login') }}" class="right">Login</a>
        {% endif %}
    </div>
</div>