{% extends 'KrovitchUnramalakFrontBundle:Layout:content.layout.html.twig' %}

{% block content %}
    <h2>{{ 'unramalak.register.title'|trans }}</h2>
    <hr/>

    <div class="row">
    <div class="panel panel-default col-md-8">
        <div class="panel-body">
            <form action="" method="post" role="form">

                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}

                {{ form_rest(form) }}
                <button type="submit" class="btn">{{ 'unramalak.form.submit'|trans }}</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}