{% extends 'KrovitchBundle:Editor:index.html.twig' %}

{% block content %}
    <div id="editor-home" class="row">
        <h1>{% trans %}editor.map.title{% endtrans %}</h1>

        <div class="span6">
            <form action="{{ path(route.name, route.parameters) }}" method="post" {{ form_enctype(form) }} class="well">
                <legend>{{ 'editor.map.create'|trans }}</legend>
                {{ form_widget(form) }}

                <div class="form-actions">
                    <a href="{{ path('editor') }}">{{ 'editor.cancel'|trans }}</a>
                    <input type="submit" value="{{ 'editor.save'|trans }}" class="btn btn-primary right"/>
                </div>
            </form>
        </div>

        <div class="actions">
        </div>
    </div>
{% endblock %}