{% extends "KrovitchUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert-container">
            <div class="alert alert-error">{{ error }}</div>
        </div>
    {% endif %}

    <div class="panel col-md-5">
        <div class="panel-body">

            <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="from-group">
                    <label for="username">
                        {{ 'security.login.username_email'|trans }}
                    </label>
                    <input type="text" id="username" name="_username" value="{{ last_username|trans }}"
                           required="required" class="form-control"
                           placeholder="{{ 'security.login.username_email'|trans }}"/>

                </div>
                <div class="from-group">
                    <label for="password">
                        {{ 'security.login.password' }}
                    </label>
                    <input type="password" id="password" name="_password" required="required" class="form-control"
                           placeholder="{{ 'security.login.password' }}"/>
                </div>
                <div class="from-group">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>

                <input type="submit" id="_submit" name="_submit" class="btn pull-right" value="{{ 'security.login.submit'|trans }}"/>
            </form>

        </div>
    </div>

{% endblock fos_user_content %}
