{% extends mainTemplate %}

{% block content %}
    <div id="editor-home" class="row">
        <h1>{% trans %}editor.title{% endtrans %}</h1>

        <div class="span2">
            <ul class="unstyled menu">
                <li><a href="{{ path('createHero') }}">{% trans %}editor.selectTypeBatiment{% endtrans %}</a></li>
                <li><a href="{{ path('createMap') }}">{% trans %}editor.map.create{% endtrans %}</a></li>
            </ul>
        </div>
        <div class="span6">
            <h2>{% trans %}dashboard{% endtrans %}</h2>

            <div class="row">
                <h3>{% trans %}Hero{% endtrans %}</h3>
                <table>
                    {% for hero in heroes %}
                        <tr>
                            <td>{{ hero.name }}</td>
                            <td>{{ hero.race }}</td>
                            <td class="actions">
                                <a href="{{ path('editHero', {'id': hero.id}) }}">{% trans %}editor.modify{% endtrans %}</a>
                                <a href="{{ path('deleteHero', {'id': hero.id}) }}" class="alert-delete">
                                    {% trans %}editor.delete{% endtrans %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="row">
                <h3>{% trans %}editor.map.list{% endtrans %}</h3>
                <table>
                    {% for map in maps %}
                        <tr>
                            <td>{{ map.name }}</td>
                            <td>{{ map.size }}</td>
                            <td class="actions">
                                <a href="{{ path('editMap', {'id': map.id}) }}">
                                    {% trans %}editor.modify{% endtrans %}</a>
                                <a href="{{ path('deleteMap', {'id': map.id}) }}" class="alert-delete">
                                    {% trans %}editor.delete{% endtrans %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}