<div id="menu-bar-container">
    <div id="menu-bar">
        <a href="{{ path('_homepage') }}">Home</a>
        <a href="{{ path('_content') }}">Content</a>
        <a href="{{ path('_map') }}">Map</a>
        <a href="{{ path('fos_user_security_login') }}">Login</a>
        <a href="{{ path('fos_user_registration_register') }}">Register</a>
    </div>
</div>