{% extends 'KrovitchUnramalakBundle::layout.html.twig' %}

{% block content %}
    <div class="row map-container">
        <div class="col-md-12">

            {% include 'KrovitchUnramalakBundle:Admin:menu.html.twig' %}

            {% block admin %}
                {# admin content here #}
            {% endblock %}

            <a href="#" class="toggle-container" data-target=".map-container">Afficher/Masquer les maps <span
                        class="caret"></span></a>


            {# Maps #}
            {% if (maps|length > 0) %}
                <h3>{{ 'unramalak.admin.maps'|trans }}</h3>
                <hr/>

                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'unramalak.admin.id'|trans }}</th>
                        <th>{{ 'unramalak.admin.name'|trans }}</th>
                        <th>{{ 'unramalak.admin.description'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for map in maps %}

                        <tr>
                            <td>{{ map.id }}</td>
                            <td>{{ map.name }}</td>
                            <td>{{ map.description|truncate('100', true, '...') }}</td>
                            <td>
                                <a href="{{ path('map.test', {id: map.id}) }}">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    {{ 'unramalak.admin.map.test'|trans }}
                                </a>
                                <a href="{{ path('map.regenerate', {id: map.id}) }}">
                                    {{ 'unramalak.admin.map.regenerate'|trans }}
                                </a>
                                {% include 'KrovitchUnramalakBundle:Templates:table.actions.html.twig' with {id: map.id, entity: 'map'} %}
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}