{% if entities|length %}

    <table class="table">

        {% for entity in entities %}

            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>
                    <i class="glyphicon glyphicon-pencil"></i>
                    <a href="{{ path(editRoute, {id: entity.id}) }}">{{ 'unramalak.admin.edit'|trans }}</a>
                    &nbsp;
                    <i class="glyphicon glyphicon-remove"></i>
                    <a href="{{ path(deleteRoute, {id: entity.id}) }}"
                       class="confirm"
                       data-message="{{ 'unramalak.admin.deleteConfirm'|trans }}">{{ 'unramalak.admin.delete'|trans }}</a>

                    {% if customRoutes is defined and customRoutes|length %}
                        {% for route, label in customRoutes %}
                            &nbsp;
                            <i class="glyphicon glyphicon-th"></i>
                            <a href="{{ path(route, {id: entity.id}) }}">{{ label|trans }}</a>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>{{ 'unramalak.admin.noResult'|trans }}</p>
{% endif %}